.services_section {
  padding: 0px 0px 160px;
}
.services_section .row {
  background-color: #f7f7f7;
  padding: 105px;
  border-radius: 20px;
  position: relative;
}
.services_section .row .first_column:before {
  content: "";
  background: url("../../assets/svg/block.svg") no-repeat;
  background-size: 126px;
  width: 126px;
  height: 136px;
  position: absolute;
  left: -55px;
  animation: topbottom 1.5s infinite;
}
.services_section .row .first_column:after {
  content: "";
  background: url("../../assets/svg/block.svg") no-repeat;
  background-size: 69px;
  width: 69px;
  height: 74px;
  position: absolute;
  bottom: -30px;
  left: 550px;
  animation: topbottom 1.5s infinite;
}
.services_section .row .first_column small {
  color: #cf2129;
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
  margin-bottom: 18px;
  display: block;
}
.services_section .row .first_column h1 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 50px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1400px) {
  .services_section .row .first_column h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1200px) {
  .services_section .row .first_column h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .services_section .row .first_column h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .services_section .row .first_column h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .services_section .row .first_column h1 {
    font-size: 25px;
  }
}
.services_section .row .first_column p {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  padding-right: 30px;
}
.services_section .row .second_column .each_service {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 20px;
}
.services_section .row .second_column .each_service:nth-child(1) {
  position: absolute;
  transform: rotate(-5deg);
  transition: all 0.2s;
  top: -100px;
  right: 70px;
  width: 550px;
}
.services_section .row .second_column .each_service:nth-child(1):hover {
  transform: rotate(0deg);
  transition: all 0.2s;
}
.services_section .row .second_column .each_service:nth-child(2) {
  transform: rotate(3deg);
  transition: all 0.2s;
}
.services_section .row .second_column .each_service:nth-child(2).bg-light-color {
  background: #cf2129;
}
.services_section .row .second_column .each_service:nth-child(2).bg-light-color:hover {
  transform: rotate(0deg);
  transition: all 0.2s;
}
.services_section .row .second_column .each_service:nth-child(3) {
  position: absolute;
  bottom: -100px;
  width: 550px;
  right: 70px;
  transform: rotate(3deg);
  transition: all 0.2s;
}
.services_section .row .second_column .each_service:nth-child(3):hover {
  transform: rotate(0deg);
  transition: all 0.2s;
}
.services_section .row .second_column .each_service.bg-light-color {
  background: #474747;
  outline: 1px dashed #fff;
  outline-offset: -10px;
}
.services_section .row .second_column .each_service img {
  margin-right: 18px;
  width: 90px;
}
.services_section .row .second_column .each_service .content {
  color: #fff;
}
.services_section .row .second_column .each_service .content h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 900;
  margin-bottom: 5px;
}
.services_section .row .second_column .each_service .content p {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@media only screen and (max-width: 991px) {
  .services_section .row .second_column .each_service .content p {
    font-size: 15px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 1366px) {
  .services_section .row {
    padding: 60px;
  }
  .services_section .row .second_column .each_service {
    padding: 20px;
  }
  .services_section .row .second_column .each_service img {
    width: 60px;
  }
}
@media only screen and (max-width: 1200px) {
  .services_section {
    padding: 40px 20px;
  }
  .services_section .row {
    gap: 40px;
    flex-direction: column;
    padding: 40px;
  }
  .services_section .row .first_column {
    position: relative;
  }
  .services_section .row .first_column:before {
    background-size: 60px;
    width: 70px;
    height: 70px;
    left: -70px;
  }
  .services_section .row .first_column:after {
    left: auto;
    right: -40px;
    width: 50px;
    background-size: 50px;
  }
  .services_section .row .first_column p {
    font-size: 18px;
    line-height: normal;
    padding: 0;
  }
  .services_section .row .second_column {
    padding: 0px !important;
  }
  .services_section .row .second_column .each_service:nth-child(1), .services_section .row .second_column .each_service:nth-child(2), .services_section .row .second_column .each_service:nth-child(3) {
    position: static;
    width: auto;
    transform: none;
  }
  .services_section .row .second_column .each_service:nth-child(2) {
    margin: 20px 0px;
  }
}
@media only screen and (max-width: 575px) {
  .services_section .row {
    padding: 20px;
  }
  .services_section .row .first_column {
    text-align: center;
  }
  .services_section .row .first_column:before {
    left: -50px;
  }
  .services_section .row .first_column p {
    font-size: 16px;
  }
  .services_section .row .second_column .each_service {
    gap: 10px;
    flex-direction: column;
    text-align: center;
  }
  .services_section .row .second_column .each_service img {
    margin: 0;
  }
  .services_section .row .second_column .each_service .content h4 {
    font-size: 18px;
  }
}/*# sourceMappingURL=Services.css.map */