@import "../../utils/var.scss";

.work_section {
  background: $text-222;
  padding: 90px 0px 150px;
  .work_titles {
    color: $white-color;
    .first_column {
      margin-bottom: $margin_bottom_40;
      h1 {
        @include banner_title;
        color: $theme-color;
        margin-right: auto;
      }
      h2 {
        @include small_heading;
        color: $white-color;
      }
    }
    .second_column {
      h2 {
        @include second_title;
        color: $white-color;
        margin-left: 50px;
      }
    }
  }
  .projects_ {
    margin-top: 32px;
    ._column {
      padding: 0px 50px 0px 0px;
      &:nth-child(2n + 2) {
        padding: 0px 0px 0px 50px;
      }
      &:nth-child(2n + 1) {
        margin-top: 80px;
      }
    }
    img {
      width: 100%;
      border-radius: $border-radius;
    }
    h3 {
      font-size: $font-size-40;
      font-weight: $font-weight-900;
      line-height: $font-size-40;
      color: $white-color;
    }
    h4 {
      font-size: $font-size-25;
      font-weight: $font-weight-900;
      line-height: $font-size-40;
      color: $white-color;
      margin: 0px;
      text-decoration: none;
    }
  }
}