@import "../../Var.scss";

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
  .navbar {
    @include flex-center;
    height: 110px;
    padding: 0px 55px;
  }
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .nav-logo {
    flex-grow: 1;
  }
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    margin: 0px;
    .nav-item {
      padding: 0px 15px;
      &.hireme {
        padding-right: 0px;
      }
      .nav-links {
        color: $text-222;
        text-decoration: none;
        height: 100%;
        font-size: $font-size-18;
        position: relative;
        &.active {
          &:after {
            content: "";
            height: 5px;
            width: 100%;
            background: $theme-color;
            display: block;
            margin-top: 5px;
            border-radius: 50px;
            position: absolute;
          }
        }
      }
      .hireme-btn {
        @include header-button;
        &:hover {
          background: $text-000;
        }
      }
    }
  }
}
.nav-icon {
  display: none;
}
.main-container {
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    &.active {
      background: #1f5156;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item {
      .active {
        color: #ffdd40;
        border: none;
      }
    }
  }
  .nav-links {
    padding: 8px 0px;
    width: 100%;
    display: table;
  }
  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 100%);
    cursor: pointer;
  }
}
