@import "../../utils/var.scss";

.footer_section {
  padding: 115px 0px 95px;
  background: url(../../assets/footer-bg.png);
  .footer_col {
    display: grid;
    grid-template-columns: .6fr .8fr .4fr;
    h3 {
      font-size: 33px;
      line-height: 41px;
      font-weight: $font-weight-900;
      margin-bottom: 25px;
      color: $white-color;
    }
    .first_column {
      .logo {
        width: 310px;
        margin-bottom: 39px;
      }
      h3 {
        font-size: $font-size-25;
        line-height: normal;
        font-weight: 600;
        margin-bottom: $margin_bottom_40;
        padding-right: 50px;
      }
      .freelance {
        display: flex;
        align-items: center;
        gap: 10px;
        .f_logo {
          width: 220px;
        }
        .icons {
          width: 45px;
        }
      }
    }
    .second_column {
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          font-size: $font-size-16;
          line-height: 48px;
          color: $white-color;
          flex-basis: calc(100% / 2);
          a {
            color: $white-color;
            text-decoration: none;
            display: flex;
            align-items: center;
            img {
              width: 35px;
              filter: brightness(0) invert(1);
              margin-right: 10px;
            }
          }
        }
      }
    }
    .third_column {
      padding-top: 70px !important;
      ul {
        list-style: none;
        padding: 0px;
        li {
          font-size: $font-size-16;
          color: $white-color;
          line-height: 42px;
          display: flex;
          align-items: center;
          img {
            width: 25px;
            margin-right: 10px;
            &.white {
              filter: brightness(0) invert(1);
            }
          }
        }
      }
      h3 {
        margin-bottom: 15px;
      }
      ol {
        display: inline-flex;
        gap: 30px;
        li {
          img {
            width: 30px;
          }
        }
      }
    }
  }
}

.copyright_section {
  p {
    @include paragraph;
    color: $white-color;
    padding: 23px 10px;
    background: $theme-color;
  }
}