@import "../../utils/var.scss";

.work_category_section {
  padding: 80px 0px;
  .work_category_row {
    display: flex;
    gap: 30px;
    .each_cat {
      background: $bg-color;
      border-radius: $border-radius;
      overflow: hidden;
      width: 100%;
      h3 {
        padding: 10px;
        font-size: $font-size-20;
        font-weight: $font-weight-600;
        line-height: $line-height-30;
        color: $white-color;
        background: $theme-color;
        text-align: center;
        &.all_cat {
          font-size: $font-size-18;
          padding: 8px 15px;
          border-radius: 0px 0px 20px 20px;
          a {
            color: $white-color;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .category_list {
        padding: 20px 20px 15px;
        height: 370px;
        overflow-y: auto;
        ul {
          padding: 0px;
          margin: 0px;
          li {
            list-style: none;
            font-size: 14px;
            line-height: $line-height-35;
            display: flex;
            align-items: center;
            &:before {
              content: "";
              background: url("../../assets/icons/listicon.svg") no-repeat;
              background-size: 20px;
              display: block;
              width: 20px;
              height: 20px;
              margin-right: 12px;
            }
            a {
              color: $text-555;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
