@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin bg-radius {
  background: $bg-color;
  border-radius: $border-radius;
}

@mixin header-button {
  background-color: $theme-color;
  border-radius: 50px;
  width: 153px;
  margin: 0;
  height: 52px;
  line-height: 52px;
  font-size: $font-size-16;
  font-weight: $font-weight-900;
  color: $white-color;
  padding: 0px;
  @include flex-center;
  @media only screen and (max-width: $xl-large-1400) {
    width: 135px;
    height: 45px;
  }
}

@mixin second-button {
  background-color: $theme-color;
  border-radius: 50px;
  width: 259px;
  height: 71px;
  border: 0px;
  font-size: $font-size-20;
  line-height: 20px;
  font-weight: $font-weight-900;
  color: $white-color;
  padding: 0px;
  @media only screen and (max-width: $xl-large-1400) {
    width: 220px;
    height: 60px;
    font-size: $font-size-20 - 2px;
  }
  @media only screen and (max-width: $large-1200) {
    width: 200px;
    height: 50px;
    font-size: $font-size-20 - 4px;
  }
}

@mixin _title {
  font-family: $font-family;
  font-weight: $font-weight-900;
  color: $text-222;
}

@mixin large_title {
  font-family: $font-family;
  font-weight: $font-weight-900;
  color: $theme-color;
  font-size: 250px;
  line-height: 250px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  @media only screen and (max-width: $xl-large-1400) {
    font-size: 210px;
    line-height: 210px;
  }
  @media only screen and (max-width: $large-1200) {
    font-size: 180px;
    line-height: 180px;
  }
  @media only screen and (max-width: $tablet-1024) {
    font-size: 160px;
    line-height: 160px;
  }
  @media only screen and (max-width: $sm-tablet-991) {
    font-size: 150px;
    line-height: 150px;
  }
}

@mixin banner_title {
  @include _title;
  font-size: $font-size-90;
  line-height: $line-height-100;
  @media only screen and (max-width: $xl-large-1400) {
    font-size: $font-size-90 - 15px;
    line-height: $line-height-100 - 20px;
  }
  @media only screen and (max-width: $large-1200) {
    font-size: $font-size-90 - 30px;
    line-height: $line-height-100 - 35px;
  }
  @media only screen and (max-width: $tablet-1024) {
    font-size: $font-size-90 - 35px;
    line-height: $line-height-100 - 40px;
  }
  @media only screen and (max-width: $sm-tablet-991) {
    font-size: $font-size-90 - 40px;
    line-height: $line-height-100 - 45px;
  }
  @media only screen and (max-width: $mobile-767) {
    font-size: $font-size-90 - 50px;
    line-height: $line-height-100 - 55px;
  }
}

@mixin second_title {
  @include _title;
  font-size: $font-size-70;
  line-height: 80px;
  @media only screen and (max-width: $xl-large-1400) {
    font-size: $font-size-70 - 10px;
    line-height: 70px;
  }
  @media only screen and (max-width: $large-1200) {
    font-size: $font-size-70 - 20px;
    line-height: 60px;
  }
  @media only screen and (max-width: $tablet-1024) {
    font-size: $font-size-70 - 30px;
    line-height: 50px;
  }
  @media only screen and (max-width: $sm-tablet-991) {
    font-size: $font-size-70 - 35px;
    line-height: 40px;
  }
  @media only screen and (max-width: $mobile-767) {
    font-size: $font-size-70 - 38px;
    line-height: 35px;
  }
}

@mixin paragraph {
  font-family: $font-family;
  font-weight: $font-weight-400;
  font-size: $font-size-16;
  line-height: $line-height-26;
  @media only screen and (max-width: $sm-tablet-991) {
    font-size: $font-size-15;
    line-height: $line-height-20;
  }
}

@mixin small_heading {
  font-size: $font-size-45;
  font-family: $font-family;
  font-weight: $font-weight-900;
  color: $text-222;
  line-height: normal;
  text-align: center;
}
