@import "./mixins.scss";
@import "./breakpoint.scss";
@import "./color.scss";

$font-family: "Mulish";

$font-weight-400: 400;
$font-weight-900: 900;

$font-size-70: 70px;
$font-size-90: 90px;
$font-size-30: 30px;
$font-size-40: 40px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-15: 15px;

$line-height-16: 16px;
$line-height-20: 20px;
$line-height-26: 26px;
$line-height-30: 30px;
$line-height-45: 45px;
$line-height-80: 80px;
$line-height-100: 100px;

$margin_bottom: 20px;
$margin_bottom_35: 35px;

$border-radius: 32px;
