.testimonial_section {
  padding-bottom: 100px;
}
.testimonial_section .row {
  padding: 100px 90px 124px;
  background: #f7f7f7;
  border-radius: 32px;
}
.testimonial_section .row .first_column h1 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 35px;
}
@media only screen and (max-width: 1400px) {
  .testimonial_section .row .first_column h1 {
    font-size: 60px;
    line-height: 70px;
  }
}
@media only screen and (max-width: 1200px) {
  .testimonial_section .row .first_column h1 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .testimonial_section .row .first_column h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonial_section .row .first_column h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial_section .row .first_column h1 {
    font-size: 32px;
    line-height: 35px;
  }
}
.testimonial_section .row .first_column p {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 35px;
  color: #555;
}
@media only screen and (max-width: 991px) {
  .testimonial_section .row .first_column p {
    font-size: 15px;
    line-height: 20px;
  }
}
.testimonial_section .row .second_column .testimonial-slider {
  background: #fff;
  padding: 50px;
  margin-left: 90px;
  border-radius: 32px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  position: relative;
}
.testimonial_section .row .second_column .testimonial-slider .carousel {
  position: static;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item .carousel-caption {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  color: #222;
  padding: 0px;
  margin-top: 28px;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item .carousel-caption p {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@media only screen and (max-width: 991px) {
  .testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item .carousel-caption p {
    font-size: 15px;
    line-height: 20px;
  }
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item .carousel-caption h3 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 28px;
  line-height: 26px;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-indicators {
  bottom: -60px;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d9d9d9;
  border: 0px;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-indicators button.active {
  background: #222;
}/*# sourceMappingURL=Testimonials.css.map */