.testimonial_section {
  padding-bottom: 60px;
}
.testimonial_section .row {
  padding: 60px 60px 100px;
  background: #f7f7f7;
  border-radius: 20px;
}
.testimonial_section .row .first_column h1 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 50px;
  margin-bottom: 35px;
}
@media only screen and (max-width: 1400px) {
  .testimonial_section .row .first_column h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1200px) {
  .testimonial_section .row .first_column h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonial_section .row .first_column h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial_section .row .first_column h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .testimonial_section .row .first_column h1 {
    font-size: 25px;
  }
}
.testimonial_section .row .first_column p {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 35px;
  color: #555;
}
@media only screen and (max-width: 991px) {
  .testimonial_section .row .first_column p {
    font-size: 15px;
    line-height: 20px;
  }
}
.testimonial_section .row .second_column .testimonial-slider {
  background: #fff;
  padding: 50px;
  margin-left: 90px;
  border-radius: 20px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  position: relative;
}
.testimonial_section .row .second_column .testimonial-slider .carousel {
  position: static;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item .carousel-caption {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  color: #222;
  padding: 0px;
  margin-top: 28px;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item .carousel-caption p {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@media only screen and (max-width: 991px) {
  .testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item .carousel-caption p {
    font-size: 15px;
    line-height: 20px;
  }
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item .carousel-caption h3 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 28px;
  line-height: 26px;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-indicators {
  bottom: -40px;
  overflow: hidden;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-indicators button {
  min-width: 12px;
  max-width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d9d9d9;
  border: 0px;
}
.testimonial_section .row .second_column .testimonial-slider .carousel .carousel-indicators button.active {
  background: #222;
}

@media only screen and (max-width: 1200px) {
  .testimonial_section {
    padding: 0 20px 40px;
  }
  .testimonial_section .row {
    padding: 40px 40px 60px;
  }
  .testimonial_section .row .second_column .testimonial-slider {
    padding: 30px;
    margin-left: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonial_section .row {
    padding: 20px 20px 40px;
    flex-direction: column;
  }
  .testimonial_section .row .first_column {
    text-align: center;
  }
  .testimonial_section .row .first_column h1, .testimonial_section .row .first_column p {
    margin-bottom: 20px;
  }
  .testimonial_section .row .second_column .testimonial-slider {
    margin: 20px 0 0;
    padding: 20px;
  }
  .testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item img {
    width: 80px;
    height: 80px;
  }
  .testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item .carousel-caption {
    margin-top: 20px;
  }
  .testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item .carousel-caption h3 {
    margin-top: 20px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .testimonial_section .row {
    padding: 10px 10px 20px;
  }
  .testimonial_section .row .second_column .testimonial-slider {
    padding: 10px;
  }
  .testimonial_section .row .second_column .testimonial-slider .carousel .carousel-item img {
    width: 60px;
    height: 60px;
  }
}/*# sourceMappingURL=Testimonials.css.map */