@import "../../Var.scss";

.three_things_section {
    padding: 150px 0px 215px;
    h1 {
      @include second_title;
      margin-bottom: 70px;
    }
    .theme-color {
      color: $theme-color;
    }
    .each-agency {
      display: flex;
      align-items: center;
      .number {
        background: url("../../assets/num-bg.svg") no-repeat;
        min-width: 163px;
        height: 140px;
        @include flex-center;
        @include second_title;
        color: $white-color;
        margin-right: 35px;
      }
      .content {
        h3 {
          @include _title;
          font-size: $font-size-40;
          line-height: $line-height-80;
          margin: 0px;
        }
        p {
          @include paragraph;
          color: $text-555;
        }
      }
    }
  }
  