.three_things_section {
  padding: 150px 0px 215px;
}
.three_things_section h1 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 70px;
  padding-right: 60px;
}
@media only screen and (max-width: 1400px) {
  .three_things_section h1 {
    font-size: 60px;
    line-height: 70px;
  }
}
@media only screen and (max-width: 1200px) {
  .three_things_section h1 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .three_things_section h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .three_things_section h1 {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .three_things_section h1 {
    font-size: 32px;
    line-height: 35px;
  }
}
.three_things_section .theme-color {
  color: #ff5b54;
}
.three_things_section .each-agency {
  display: flex;
  align-items: center;
}
.three_things_section .each-agency .number {
  background: url("../../assets/svg/num-bg.svg") no-repeat;
  min-width: 163px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  margin-right: 35px;
}
@media only screen and (max-width: 1400px) {
  .three_things_section .each-agency .number {
    font-size: 60px;
    line-height: 70px;
  }
}
@media only screen and (max-width: 1200px) {
  .three_things_section .each-agency .number {
    font-size: 50px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 1024px) {
  .three_things_section .each-agency .number {
    font-size: 40px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .three_things_section .each-agency .number {
    font-size: 35px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .three_things_section .each-agency .number {
    font-size: 32px;
    line-height: 35px;
  }
}
.three_things_section .each-agency .content h3 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 40px;
  line-height: 80px;
  margin: 0px;
}
.three_things_section .each-agency .content p {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #555;
}
@media only screen and (max-width: 991px) {
  .three_things_section .each-agency .content p {
    font-size: 15px;
    line-height: 20px;
  }
}
.three_things_section.digital_experts {
  background: #222;
  padding: 100px 0px;
}
.three_things_section.digital_experts .container {
  position: relative;
}
.three_things_section.digital_experts .container:before {
  content: "";
  background: url("../../assets/svg/block.svg") no-repeat;
  background-size: 126px;
  width: 126px;
  height: 136px;
  position: absolute;
  left: -60px;
  top: -160px;
  -webkit-animation: topbottom 1.5s infinite;
          animation: topbottom 1.5s infinite;
}
.three_things_section.digital_experts .container:after {
  content: "";
  background: url("../../assets/svg/block.svg") no-repeat;
  background-size: 69px;
  width: 69px;
  height: 74px;
  position: absolute;
  right: -55px;
  bottom: -130px;
  -webkit-animation: topbottom 1.5s infinite;
          animation: topbottom 1.5s infinite;
}
.three_things_section.digital_experts .container .spacing:nth-child(1) {
  padding: 0px 30px 38px 0px;
  border-bottom: 1px dashed #757575;
  border-right: 1px dashed #757575;
}
.three_things_section.digital_experts .container .spacing:nth-child(2) {
  padding: 0px 0px 38px 30px;
  border-bottom: 1px dashed #757575;
}
.three_things_section.digital_experts .container .spacing:nth-child(3) {
  padding: 22px 30px 0px 0px;
  border-right: 1px dashed #757575;
}
.three_things_section.digital_experts .container .spacing:nth-child(4) {
  padding: 22px 0px 0px 30px;
}
.three_things_section.digital_experts .container .spacing .each-agency .content h3,
.three_things_section.digital_experts .container .spacing .each-agency .content p {
  color: #fff;
}
@media only screen and (max-width: 1400px) {
  .three_things_section {
    padding: 100px 0px 165px;
  }
  .three_things_section h1 {
    margin-bottom: 50px;
    padding-right: 260px;
  }
  .three_things_section h1 br {
    display: none;
  }
  .three_things_section .each-agency .number {
    min-width: 130px;
    height: 110px;
    background-size: contain;
    margin-right: 20px;
  }
  .three_things_section .each-agency .content h3 {
    font-size: 30px;
    line-height: 45px;
  }
}/*# sourceMappingURL=threethings.css.map */