.three_things_section {
  padding: 40px 0px 180px;
}
.three_things_section h1 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 50px;
  margin-bottom: 70px;
  text-align: center;
}
@media only screen and (max-width: 1400px) {
  .three_things_section h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1200px) {
  .three_things_section h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .three_things_section h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .three_things_section h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .three_things_section h1 {
    font-size: 25px;
  }
}
.three_things_section .theme-color {
  color: #cf2129;
}
.three_things_section .each-agency {
  display: flex;
  align-items: self-start;
  border: 1px dashed #ddd;
  border-radius: 20px;
  height: 100%;
  padding: 20px;
}
.three_things_section .each-agency .number {
  background: url("../../assets/svg/num-bg.svg") no-repeat;
  background-size: contain;
  min-width: 110px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 50px;
  font-size: 50px;
  line-height: normal;
  color: #fff;
  margin-right: 30px;
}
@media only screen and (max-width: 1400px) {
  .three_things_section .each-agency .number {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1200px) {
  .three_things_section .each-agency .number {
    font-size: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .three_things_section .each-agency .number {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .three_things_section .each-agency .number {
    font-size: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .three_things_section .each-agency .number {
    font-size: 25px;
  }
}
.three_things_section .each-agency .content h3 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 30px;
  margin-bottom: 10px;
}
.three_things_section .each-agency .content p {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #555;
}
@media only screen and (max-width: 991px) {
  .three_things_section .each-agency .content p {
    font-size: 15px;
    line-height: 20px;
  }
}
.three_things_section.digital_experts {
  background: #222;
  padding: 60px 0px;
  position: relative;
}
.three_things_section.digital_experts .container {
  position: relative;
}
.three_things_section.digital_experts .container:before {
  content: "";
  background: url("../../assets/svg/block.svg") no-repeat;
  background-size: 110px;
  width: 110px;
  height: 120px;
  position: absolute;
  left: 0;
  top: -100px;
  animation: topbottom 1.5s infinite;
}
.three_things_section.digital_experts .container:after {
  content: "";
  background: url("../../assets/svg/block.svg") no-repeat;
  background-size: 69px;
  width: 69px;
  height: 74px;
  position: absolute;
  right: 0;
  bottom: -100px;
  animation: topbottom 1.5s infinite;
}
.three_things_section.digital_experts .container .spacing:nth-child(1) {
  padding: 0px 30px 38px 0px;
  border-bottom: 1px dashed #757575;
  border-right: 1px dashed #757575;
}
.three_things_section.digital_experts .container .spacing:nth-child(2) {
  padding: 0px 0px 38px 30px;
  border-bottom: 1px dashed #757575;
}
.three_things_section.digital_experts .container .spacing:nth-child(3) {
  padding: 22px 30px 0px 0px;
  border-right: 1px dashed #757575;
}
.three_things_section.digital_experts .container .spacing:nth-child(4) {
  padding: 22px 0px 0px 30px;
}
.three_things_section.digital_experts .container .spacing .each-agency {
  border: 0px;
  border-radius: 0px;
  height: auto;
  padding: 0px;
}
.three_things_section.digital_experts .container .spacing .each-agency .content h3,
.three_things_section.digital_experts .container .spacing .each-agency .content p {
  color: #fff;
}
@media only screen and (max-width: 1400px) {
  .three_things_section {
    padding: 40px 0px 160px;
  }
  .three_things_section h1 {
    margin-bottom: 50px;
  }
  .three_things_section .each-agency .number {
    min-width: 90px;
    height: 80px;
    background-size: contain;
    margin-right: 20px;
    font-size: 50px;
    line-height: normal;
  }
  .three_things_section .each-agency .content h3 {
    font-size: 30px;
    line-height: 45px;
  }
}
@media only screen and (max-width: 1200px) {
  .three_things_section {
    padding: 40px 10px;
  }
  .three_things_section h1 {
    margin-bottom: 30px;
  }
  .three_things_section .each-agency {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .three_things_section .each-agency .number {
    min-width: 70px;
    height: 60px;
    margin-right: 0;
    font-size: 30px;
  }
  .three_things_section .each-agency .content {
    margin-top: 10px;
  }
  .three_things_section .each-agency .content h3 {
    font-size: 25px;
    line-height: normal;
  }
  .three_things_section .each-agency .content p {
    font-size: 15px;
    line-height: normal;
  }
  .three_things_section.digital_experts {
    padding: 40px 20px;
  }
}
@media only screen and (max-width: 991px) {
  .three_things_section .row {
    flex-direction: column;
    gap: 20px;
  }
  .three_things_section.digital_experts .container::before {
    width: 80px;
    height: 90px;
    background-size: 80px;
    top: -70px;
  }
  .three_things_section.digital_experts .container::after {
    background-size: 50px;
    width: 50px;
    height: 60px;
    bottom: -80px;
  }
  .three_things_section.digital_experts .container .row {
    flex-direction: row;
    gap: 0;
  }
  .three_things_section.digital_experts .container .row .spacing:nth-child(1) {
    padding: 0px 20px 20px 0px;
  }
  .three_things_section.digital_experts .container .row .spacing:nth-child(2) {
    padding: 0px 0px 20px 20px;
  }
  .three_things_section.digital_experts .container .row .spacing:nth-child(3) {
    padding: 20px 20px 0px 0px;
  }
  .three_things_section.digital_experts .container .row .spacing:nth-child(4) {
    padding: 20px 0px 0px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .three_things_section .each-agency {
    padding: 10px;
  }
  .three_things_section .each-agency .number {
    min-width: 60px;
    height: 50px;
    font-size: 25px;
    font-weight: 600;
  }
  .three_things_section .each-agency .content h3 {
    font-size: 20px;
  }
  .three_things_section.digital_experts .container::before {
    background-size: 60px;
    height: 70px;
    top: -60px;
    width: 60px;
  }
  .three_things_section.digital_experts .container .row {
    flex-direction: column;
    gap: 20px;
  }
  .three_things_section.digital_experts .container .row .spacing {
    border: 0px;
    border-bottom: 1px dashed #757575;
  }
  .three_things_section.digital_experts .container .row .spacing:nth-child(1), .three_things_section.digital_experts .container .row .spacing:nth-child(2), .three_things_section.digital_experts .container .row .spacing:nth-child(3) {
    padding: 0 0 20px 0;
  }
  .three_things_section.digital_experts .container .row .spacing:nth-child(4) {
    padding: 0px;
    border: 0;
  }
}/*# sourceMappingURL=ThreeThings.css.map */