@import "../../Var.scss";

.making_brand_section {
    background-color: $bg-color;
    background-image: url("../../assets/Tablet_Image_bg.png");
    background-repeat: no-repeat;
    padding: 125px 0px;
    .brand_first_section {
      img {
        max-width: 765px;
      }
    }
    .brand_second_section {
      h1 {
        @include second_title;
        margin-bottom: $margin_bottom;
      }
      p {
        font-size: 20px;
        line-height: $line-height-30;
        padding-right: 90px;
        color: $text-555;
      }
    }
  }
  