@import "../../utils/var.scss";

.digital_services_section {
  padding: 105px 0px;
  .digital_services_row {
    padding-bottom: 90px;
    .first_column {
        margin-right: 22px;
      h2 {
        @include second_title;
        margin-bottom: $margin_bottom;
      }
      p {
        @include paragraph;
        margin-bottom: $margin_bottom;
        color: $text-555;
      }
      ul {
        padding: 0px;
        li {
          font-size: $font-size-16;
          line-height: 35px;
          color: $text-555;
          list-style: none;
          display: flex;
          align-items: center;
          &:before {
            content: "";
            background: url("../../assets/svg/li-icon.svg") no-repeat;
            min-width: 21px;
            height: 21px;
            margin-right: 10px;
          }
        }
      }
    }
    .second_column {
        margin-left: 22px;
        .services_images{
            width: 100%;
            background: $bg-color;
            padding: 20px 60px;
            border-radius: $border-radius;
            text-align: center;
        }
    }
  }
}
