@import "../../utils/var.scss";

.portfolio_view {
    padding: 85px 0px;
    .our_all_work {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        text-align: center;
        .item {
            background: $bg-color;
            border-radius: 20px;
            padding: 15px;
            .img_overlay {
                position: relative;
                border-radius: $border-radius;
                overflow: hidden;
                .preview_img {
                    height: 300px;
                    object-fit: contain;
                }
                .overlay_icons {
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    text-align: center;
                    @include flex-center;
                    .icons {
                        background: $white-color;
                        height: 70px;
                        width: 70px;
                        border-radius: 50%;
                        @include flex-center;
                        &:nth-child(1) {
                            margin-right: 15px;
                        }
                    }
                }
                &:hover .overlay_icons {
                    opacity: 1;
                    background: rgba(255, 91, 84, 0.8);
                    width: 100%;
                    height: 100%;
                }
            }
            h3 {
                margin-top: 15px;
                font-size: $font-size-25;
                font-weight: $font-weight-900;
                line-height: $line-height-30;
                color: $text-222;
            }
            h5 {
                font-size: $font-size-20;
                font-weight: $font-weight-600;
                line-height: $line-height-30;
                color: $theme-color;
            }
        }
    }
    .pagination {
        margin-top: 62px;
        margin-bottom: 0px;
        .page-item {
            &:last-child {
                .page-link {
                    margin-right: 0px;
                }
            }
            .page-link {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                padding: 0px;
                background: $text-222;
                color: $white-color;
                margin-right: 6px;
                @include flex-center;

                &:focus {
                    box-shadow: none;
                }
            }
            &.active {
                z-index: 0;
                .page-link {
                    background: $theme-color;
                    border: 0px;
                }
            }
        }
    }
}