.home_banner_section {
  padding: 15px 0 0;
}
.home_banner_section .banner_content p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.home_banner_section .banner_content h2 {
  font-size: 55px;
  font-weight: 900;
}
.home_banner_section .banner_content h5 {
  font-family: "Mulish";
  font-size: 25px;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 35px;
}
.home_banner_section .banner_content a {
  background-color: #cf2129;
  border-radius: 50px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 12px 20px;
  white-space: nowrap;
  padding: 5px 5px 5px 20px;
}
.home_banner_section .banner_content a img {
  transform: rotate(90deg);
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  animation: none;
  margin-left: 10px;
}
.home_banner_section .banner_img img {
  margin-bottom: 0px;
  width: 100%;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

.about_banner_section {
  padding: 40px 0px 70px;
}
.about_banner_section h1 {
  font-family: "Mulish";
  font-weight: 900;
  color: #cf2129;
  font-size: 250px;
  line-height: 250px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  text-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 1400px) {
  .about_banner_section h1 {
    font-size: 210px;
    line-height: 210px;
  }
}
@media only screen and (max-width: 1200px) {
  .about_banner_section h1 {
    font-size: 180px;
    line-height: 180px;
  }
}
@media only screen and (max-width: 1024px) {
  .about_banner_section h1 {
    font-size: 140px;
    line-height: 140px;
  }
}
@media only screen and (max-width: 991px) {
  .about_banner_section h1 {
    font-size: 100px;
    line-height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .about_banner_section h1 {
    font-size: 80px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 575px) {
  .about_banner_section h1 {
    font-size: 60px;
    line-height: 60px;
  }
}
.about_banner_section .banner_content {
  padding: 0px 0px 0px 140px;
}
.about_banner_section .banner_content h2 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 50px;
  margin-bottom: 31px;
}
@media only screen and (max-width: 1400px) {
  .about_banner_section .banner_content h2 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1200px) {
  .about_banner_section .banner_content h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .about_banner_section .banner_content h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .about_banner_section .banner_content h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .about_banner_section .banner_content h2 {
    font-size: 25px;
  }
}
.about_banner_section .banner_content p {
  font-size: 20px;
  line-height: 30px;
  color: #555;
}

.services_banner_section {
  padding: 40px 0px 50px;
  background: url("../../assets/service_bg.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 0px 0px 100px 100px;
}
.services_banner_section h1 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 50px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 20px;
  margin: 0 auto 20px;
}
@media only screen and (max-width: 1400px) {
  .services_banner_section h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1200px) {
  .services_banner_section h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .services_banner_section h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .services_banner_section h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .services_banner_section h1 {
    font-size: 25px;
  }
}
.services_banner_section p {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  margin: 0 auto 40px;
}
.services_banner_section img {
  animation: topbottom 1.5s infinite;
}

.about_banner_section.work_banner_section {
  padding: 40px 0px 50px;
  background: url("../../assets/service_bg.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 0px 0px 100px 100px;
}
.about_banner_section.work_banner_section h2,
.about_banner_section.work_banner_section p {
  color: #fff;
}

@media only screen and (max-width: 1366px) {
  .home_banner_section .banner_content p {
    font-size: 18px;
  }
  .home_banner_section .banner_content h2 {
    font-size: 45px;
  }
  .home_banner_section .banner_content h5 {
    font-size: 20px;
    line-height: normal;
  }
  .home_banner_section .banner_img img {
    max-width: 100%;
  }
  .about_banner_section .banner_content {
    padding: 0px 0px 0px 70px;
  }
}
@media only screen and (max-width: 1200px) {
  .home_banner_section .banner_content p {
    font-size: 16px;
  }
  .home_banner_section .banner_content h2 {
    font-size: 35px;
  }
  .home_banner_section .banner_content h5 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .home_banner_section .banner_content a img {
    padding: 8px;
  }
  .home_banner_section .banner_img img {
    height: auto;
  }
  .about_banner_section .banner_content h2 {
    margin-bottom: 20px;
  }
  .about_banner_section .banner_content p {
    font-size: 18px;
    line-height: inherit;
  }
  .about_banner_section.work_banner_section {
    border-radius: 0px 0px 60px 60px;
  }
  .services_banner_section {
    border-radius: 0px 0px 60px 60px;
  }
  .services_banner_section p {
    font-size: 25px;
    line-height: normal;
  }
}
@media only screen and (max-width: 991px) {
  .home_banner_section .banner_content p {
    font-size: 15px;
  }
  .home_banner_section .banner_content h2 {
    font-size: 25px;
  }
  .home_banner_section .banner_content h5 {
    font-size: 16px;
    margin-top: 10px;
  }
  .home_banner_section .banner_content a {
    font-size: 15px;
  }
  .home_banner_section .banner_content a img {
    padding: 5px;
  }
  .about_banner_section {
    padding: 20px 20px 60px;
  }
  .about_banner_section .banner {
    flex-direction: column;
  }
  .about_banner_section .banner .large-title h1 br {
    display: none;
  }
  .about_banner_section .banner .banner_content {
    padding: 0px;
    text-align: center;
  }
  .about_banner_section .banner .banner_content p {
    font-size: 16px;
  }
  .about_banner_section.work_banner_section {
    padding: 40px 20px;
  }
  .services_banner_section {
    padding: 30px 20px;
  }
  .services_banner_section p {
    font-size: 18px;
    margin: 0 auto 25px;
  }
  .services_banner_section img {
    width: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .home_banner_section {
    padding: 20px;
  }
  .home_banner_section .banner {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .home_banner_section .banner .banner_content {
    text-align: center;
  }
  .home_banner_section .banner .banner_img img {
    height: 280px;
  }
}
@media only screen and (max-width: 575px) {
  .home_banner_section .banner_content h5 {
    font-size: 15px;
  }
  .about_banner_section.work_banner_section {
    border-radius: 0px 0px 30px 30px;
  }
  .services_banner_section {
    border-radius: 0px 0px 30px 30px;
  }
  .services_banner_section p {
    font-size: 16px;
  }
  .services_banner_section img {
    width: 40px;
  }
}/*# sourceMappingURL=Banner.css.map */