@import '../../Var.scss';

.banner_section {
    padding: 15px 0px;
    .banner_content {
      h1 {
        @include banner_title;
        margin-bottom: 25px;
      }
      h5 {
        font-family: $font-family;
        font-size: $font-size-30;
        line-height: $line-height-45;
        a {
          color: $theme-color;
        }
      }
    }
    .banner_img {
      img {
        margin-bottom: -60px;
        animation: topbottom 2s infinite;
        max-width: 670px;
      }
    }
  }