@import "../../Var.scss";

// make something component styling start
.make_something {
    padding-bottom: 150px;
    .something_row {
      @include flex-center;
      .first_column {
        img {
          width: 570px;
          animation: scale 5s ease-in-out infinite;
          -webkit-animation: scale 5s ease-in-out infinite;
        }
      }
      .second_column {
        margin-left: 50px;
        h1 {
          @include second_title;
          margin-bottom: 26px;
        }
        p {
          font-size: 33px;
          line-height: 43px;
          color: $text-555;
          margin-bottom: 48px;
        }
      }
    }
  }
  // make something component styling end
  