.make_something {
  padding-bottom: 60px;
}
.make_something .something_row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.make_something .something_row .first_column img {
  width: 570px;
  animation: scale 5s ease-in-out infinite;
  -webkit-animation: scale 5s ease-in-out infinite;
}
.make_something .something_row .second_column {
  margin-left: 50px;
}
.make_something .something_row .second_column h1 {
  font-family: "Mulish";
  font-weight: 900;
  color: #222;
  font-size: 50px;
  margin-bottom: 26px;
}
@media only screen and (max-width: 1400px) {
  .make_something .something_row .second_column h1 {
    font-size: 45px;
  }
}
@media only screen and (max-width: 1200px) {
  .make_something .something_row .second_column h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .make_something .something_row .second_column h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .make_something .something_row .second_column h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .make_something .something_row .second_column h1 {
    font-size: 25px;
  }
}
.make_something .something_row .second_column p {
  font-size: 25px;
  color: #555;
  margin-bottom: 48px;
}
@media only screen and (max-width: 1200px) {
  .make_something .something_row .first_column img {
    width: 100%;
  }
}

.initiate_modal .modal-content {
  border: 4px solid #cf2129;
  border-radius: 30px;
  background: #f7f7f7;
}
.initiate_modal .modal-content .modal-body {
  padding: 30px;
}
.initiate_modal .modal-content .modal-body .modal-header {
  border: 0px;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
}
.initiate_modal .modal-content .modal-body .modal-header button {
  background-color: #ddd;
}
.initiate_modal .modal-content .modal-body .modal-header button:focus {
  box-shadow: none;
}
.initiate_modal .modal-content .modal-body .modal_logo {
  margin: 0px auto 20px;
  padding: 0px 100px;
}
.initiate_modal .modal-content .modal-body form label {
  font-weight: 600;
}
.initiate_modal .modal-content .modal-body form input, .initiate_modal .modal-content .modal-body form textarea {
  border-color: #474747;
}
.initiate_modal .modal-content .modal-body form input:focus, .initiate_modal .modal-content .modal-body form textarea:focus {
  box-shadow: none;
  border-color: #cf2129;
}

@media only screen and (max-width: 1200px) {
  .make_something {
    padding: 0 10px 40px;
  }
}
@media only screen and (max-width: 991px) {
  .make_something .something_row {
    flex-direction: column;
    text-align: center;
  }
  .make_something .something_row .second_column {
    margin: 0px;
  }
  .make_something .something_row .second_column h1, .make_something .something_row .second_column p {
    margin-bottom: 20px;
  }
  .make_something .something_row .second_column p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .make_something .something_row .second_column p {
    font-size: 18px;
  }
}/*# sourceMappingURL=MakeSomething.css.map */